*{ box-sizing: border-box;}
body{margin: 0;}
@font-face {
    font-family: 'nintendo';
    src: url(/asset/fuentes/Early\ GameBoy.ttf);
}
@font-face {
    font-family: 'pretendo';
    src: url(/asset/fuentes/Pretendo.ttf);
}

p{
    position: relative;
    top: 65px;

    font-family: 'nintendo';
    text-align: center;
}
.control{
    position: relative;

    width:25rem;
    height:41rem;
    margin: 20px auto 20px;

    border-radius: 15px 15px 100px 15px;
    background-color: rgba(164, 163, 163, 0.5);
    box-shadow: 2px 2px 5px #5555;
}
.parte-superior{
    position: relative;
    height: 3.5rem;

    border-bottom: 5px solid rgba(120 120 120 / 0.18);
}

.superior-1{
    position: absolute;
    left: 60px;

    display: inline-block;
    width: 0px;
    height: 3.5rem;
    
    border-color: rgba(120 120 120 / 0.18);
    border-style: solid;
    
}
.superior-2{
    position: absolute;
    right: 60px;

    display: inline-block;
    width: 0px;
    height: 3.5rem;
   
    border-color: rgba(120 120 120 / 0.18);
    border-style: solid;
    
}

.pantalla{
    position: relative;

    width: 340px;
    height: 260px;
    margin: 20px auto 10px;

    background-color: rgb(50, 50, 50);
    border-radius: 5px 5px 50px 5px;

}

.punto{
    position: relative;
    top: 70px;
    left: 18px;

    display: inline-block;
    width: 15px;
    height: 15px;

    background-color: red;
    border-radius: 10px;
    
}
.pantalla-interna{
    position: relative;
    top:20px ;
    left: 36px;

    display: inline-block;
    width: 250px;
    height: 200px;

    background-color: yellowgreen;

    box-shadow: inset 5px 5px 5px 1px #c3e77b, inset -5px -5px 5px 1px #c3e77b;
       
}

.encabezado{
    position: relative;
    top: 7px;
    height:5px;
}

.rojo-red{
    background-color: RED;

}
.azul{
    top:10px;
    background-color: blue;
}

.texto-superior{
position: absolute;
left: 5.5rem;
z-index: 10;

font-size: 13px;

color: #fff;
background-color: rgb(50 50 50);

}
.bateria{
    position: absolute;
    top:120px;
    left: 5px;

    font-size: 0.6rem;

    color: #fff;
  
}
.nintendo{
    font-family: 'pretendo', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
    color: rgb(54, 54, 232);
    font-size: 14px;
    letter-spacing: 1px;
}
.text-nintendo{

    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 300px;
    
}
.text-gameboy{
   /* display: block; */
   font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
   font-size: x-large;
   font-style: italic;
   color: rgb(54, 54, 232);
    
}
.controles-mando{
    position: relative;
}
.triangulo{
    position: absolute;
    left: 50px;
    z-index: 12;

    display: block;
    width: 0px;

    border-bottom: 10px solid #444;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
     
}
.triangulo-1{
    top: 0;
    left:9px ;
}
.triangulo-3{
    bottom: 0;
    left: 9px;
    transform: rotate(180deg);
}
.triangulo-2{
    top:0;
    left: 9px ;
}
.triangulo-4{
    bottom: 0;
    left: 9px;
    transform: rotate(180deg);
}
.cruz{

   display: inline-block;
   width: 70%;
   margin-top: 20px;
    
}
.btn{

    width: 40px;
    height: 60px;

    background-color: #555;
    border-radius: 12px;
    border-color: rgb(100 100 100 / 0.3);
        
}
.btn-1, .btn-2{
    position: relative;
    left: 70px;

    display: block;

    box-shadow: -1px 0 1px rgb(100 100 100 / 0.9), 1px 0 1px rgb(100 100 100 / 0.9);
    
}
.btn-1{
    bottom: 4px;
}
.btn-2{
    top:-3px;
}
.btn-3, .btn-4{
    position: absolute;
    bottom: 40px;

    display: inline-block;

    box-shadow: -2px 0px 1px rgb(100 100 100 / 0.1);

    transform: rotate(90deg);
    
}
.btn-3{
    left: 40px;
}
.btn-4{
   left: 100px;
}
.circle-cruz{
    position: absolute;
    top: 50px;
    left: 65px;
    z-index: 10;

    width: 50px;
    height:50px;
    /* overflow: hidden; */

    border-radius: 50px;
    background-color: #444;
     
}
.botones{
position: absolute;
bottom: 0px;

display:inline-block ;
width: 60px;
height: 140px;

border-radius: 25px;
background-color: #5553 ;
box-shadow: inset 1px 1px 1px 1px rgb(155 155 155 / 0.5);

transform: rotate(60deg);

}
.texto-ab{
position: absolute;

transform: rotate(-90deg);

}
.letra-b{
    bottom: 30px;
    right: -16px;
}
.letra-a{
    top:25px;
    right:-16px;
}
.boton-rojo{
    position:relative;

    width: 50px;
    height: 50px;

    border-radius: 50px;
    border-color: rgb(255 0 0 / 0.7);
    background-color: red;
    box-shadow: 1px 1px 1px 1px rgb(255 0 0 / 0.7);
}  
.rojo-b{
 top:25px;
 left: 5px;
}
.rojo-a{
    top: 10px;
    left: 5px;
}
.botones-inferiores{
    position: relative;

    text-align: center;
}

.gris-boton{
    position: relative;

    width: 20px;
    height: 70px;

    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(155 155 155);

    transform: rotate(60deg);
}
.buttom-2{
    left: 3rem;
}
.texto-ab, .select, .start {
   font-family: 'pretendo', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
   color: rgb(54, 54, 232);
   font-size: 12px;
   letter-spacing:2.5px;
}
.select, .start{
    position: relative;
    bottom: 0.5rem;

    display: inline-block;

    transform: rotate(-30deg);
    
}
.select{
    
    left:-30px ;
}
.start{
    
    left: 18px;
}
.contenedor-inferior{
    position: absolute;
    right: 0;
    bottom: 18px;

    width: 120px;
    overflow: hidden;

    transform: rotate(-35deg);
    
   
}
.box{
    position: relative;

    display: inline-block;
    width: 5px;
    height: 50px;
    margin: 5px;

    border-radius: 2px;
    background-color: #5555;
    box-shadow: inset 1px 25px 2px rgb(120 120 120 / 0.5), 1px 1px 2px rgb(120 120 120 / 0.5);
   
}


