*{box-sizing: border-box; font-family: "Lato", monospace;}
body{height: 100vh;background-color: azure; color:beige}

img{
  
    width: 80%;
    height: 90%;
    filter: drop-shadow(100px 100px 100px #0000);
   
}

p{
    text-align: center;
}
button{
    background-image: linear-gradient(to top, #e7dfdf, #b3b616);;
    width: 7rem;
    height: 2.5rem;
    border-color: transparent;
    font-weight:600;
    border-radius: 10px;
    font-size: 1.3rem;
    word-spacing: 1px
}
.general{
   display: grid;
   grid-template: 1fr/ repeat(3, 1fr);
   justify-items:center;
   align-items: center;
   height: 100%;

}
.cards{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 25rem;
    height: 25rem;
    background-image: linear-gradient(to bottom, #23417e, #4275e9f0);
    border-radius: 2em;
    transition: 300ms;
    grid-row: span 2;
   
}

.image{
    position: absolute;
    top:-12.5rem;
    z-index: 10;
    width: 100%;
    height: 25rem;
    transition: 300ms;
    /* filter: drop-shadow(100px 100px 100px #0000); */
    text-align: center;
}

.datails{
   text-align: center;
   margin: 0 0.7rem 3.5rem;
}